<template>
    <div class="chart__no_data mt text-center">
        <div>
            <img :src="imageSrc" alt="slot" class="no_data_img">
            <h4 v-if="Object.keys(sessionError).length > 0" class="mb-0 mt-2">{{ sessionError.message }}</h4>
            <h4 v-else-if="Object.keys(dataError).length > 0" class="mb-0 mt-2">{{ dataError.message }}</h4>
            <h4 v-else class="mb-0 mt-2">Please choose another casino/slot combination.</h4>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    props:{
        imageSrc: {
            type: String
        }
    },
    computed:{
        ...mapState(['sessionError', 'dataError']),
    }
}
</script>

<style>

</style>