<template>
    <div class="pl-2 ml-1 pt-2 mt-1 avg" v-if="activeSlotsinCasino.length">
        <span class="avg__label">Average win:</span> 
        <span v-if="averageWin !== null" class="green_gradient" ref="avg">{{ averageWin }}</span>
        <span v-else class="green_gradient">N/A</span>
    </div> 
</template>

<script>
    import { mapState } from 'vuex'
    import { CountUp } from 'countup.js'
    import { convertCurrency } from '../../helpers/functions.js'
    
    export default {
        computed: {
            ...mapState(['activeSlotsinCasino', 'currency']),
            averageWin() {
                if (this.activeSlotsinCasino[0] === undefined) {
                    return null
                }

                if (this.activeSlotsinCasino[0].average === undefined || typeof this.activeSlotsinCasino[0].average !== 'number') {
                    return null
                }

                return convertCurrency(this.activeSlotsinCasino[0].average, this.currency)
            },
        },
        methods: {
            animateAvgJackpot() {
                const countUpAvg = new CountUp(this.$refs.avg, this.averageWin ? this.averageWin : 0, {
                    prefix: this.currency.symbol + ' '
                })

                if (!countUpAvg.error) countUpAvg.start()  
            },
        },
        mounted() {
            this.animateAvgJackpot()
        },
        updated() {
            this.animateAvgJackpot()
        },    
    }
</script>

<style>

</style>