.comments_container{
    ul{
        list-style: none;
    }
    .card{
        margin: 2rem 0;
    }
}
.list{
    margin-left: 0;
    margin-right: 0;
}
.author_name{
    color: $l-gray;
}
div[id^="comment-"] {
    background-color: $light-color;
    padding: 0.5rem;
}