@import "./spectre-0.5.8/variables";
@import "./variables";
@import "./spectre-0.5.8/src/mixins";

.dashboard_sidebar:not(.file_manager_menu),
.add_post_form,
.edit_categories,
.add_casino_form, 
.edit_casino_form,
.add_jackpot_form,
.add_slot_form{
    margin-bottom: 4rem;
}
.file_manager_menu{
    margin-bottom: 1.5rem;
}
.add_post_form, .manage_posts, .edit_categories, .file_manager, 
.edit_comments, .index_jackpots, .index_casinos, .add_jackpot_form,
.add_casino_form, .edit_casino_form, .add_slot_form{
    order: 2;
}
.dashboard_sidebar{
    order: 1;
    .menu{
        font-size: 1.2rem;
        transform: none;
        .divider{
            border-color: #3A3A3A;
            &[data-content]{
                margin: 1.2rem 0;
                margin-bottom: 1.6rem;
            }
            &::after{
                font-size: inherit;
            }
        }
        .category_btn{
            .divider{
                &[data-content]{
                    margin: 1.2rem 0;
                }
            }
        }
        .menu-item{
            margin-top: 0.4rem;
            margin-bottom: 0.4rem;
        }
        .menu-item:last-of-type{
            margin-bottom: 0;
        }
    }  
}
.edit_posts{
    &__post{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.2rem;
        >h4{
            margin-bottom: 0;
        }
    }
    .not_published > h4{
        opacity: 0.5; 
    }
}
.edit_post_thumbnail{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    &__img{
        border-radius: $b-radius;
        max-width: 100%;
        height: auto;
    }
}
.edit_post_btns{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex: 0 0 77px;
}
.dashboard_sidebar{
    .accordion{
        .accordion-header{
            position: relative;
            padding: 0;
        }
    }
}
.form_heading_cnt{
    display: flex;
    justify-content: space-between; 
    &--create_post{
        justify-content: flex-end;
    }  
}
.form_flex_end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1em; 
}

// categories edit start

.add_category_cnt{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.edit_category_btns{
    width: 61px;
}
.category_type{
    color: $l-gray;
}

// categories edit end
.ck{
    color: $dark-color;
}
// comments 
.comment{
    p{
        margin-top: 0.9rem;
        margin-bottom: 0.2rem;
    }
    form{
        display: inline;
    }
}
// attachments
.attachment{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: space-between;
    margin-bottom: 1.2rem;
    >img{
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    &__info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $light-color;
        border-radius: $b-radius;
    }
}

// slots start

.slots_edit_name{
    display: flex;
}
.slots_edit_cnt{
    > form{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}

// slots end

//casinos start

.provider_data{
    margin-bottom: 1.2rem;
}
.edit_casino_logo{
    width: 100%;
    height: auto;
}
.index_casinos .table{
    font-size: 0.8rem;
}
//casinos end

//gallery modal

#gallery_modal{
    .modal-container{
        height: 75vh;
    }
}
.attacments_cnt{
    min-height: calc( 75vh - 218px );
    position: relative;
    .gallery_img{
        transition: all 0.2s $timing_f;
        cursor: pointer;
        &:active, &:focus{
            transform: scale(0.95);
            @include control-shadow();
        }
    }
}
#modal_loader, .modal_no_images{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.gallery_modal_pagination a{
    >.icon{
        pointer-events: none;
    }
}
@media screen and ( max-width: $size-md ) {
    .dashboard_sidebar:not(.file_manager_menu),
    .add_post_form,
    .edit_casino_form,
    .add_casino_form,
    .add_jackpot_form,
    .edit_categories,
    .add_slot_form{
        margin-bottom: 1.5rem;
    }  
}
@media screen and ( max-width: $size-md ) {
    .dashboard_sidebar:not(.file_manager_menu){
        .menu{
            min-height: initial;
        }
    }
}
// @media screen and ( min-width: 901px ) {
//     .dashboard_sidebar:not(.file_manager_menu){
//         .menu{
//             min-height: 80vh;
//         }
//     }
// }