@font-face {
    font-family: 'Function';
    src: url('../fonts/Function-Regular.woff2') format('woff2'),
        url('../fonts/Function-Regular.woff') format('woff'),
        url('../fonts/Function-Regular.ttf') format('truetype'),
        url('../fonts/Function-Regular.svg#Function-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

