.footer{
    position: relative;
    overflow: hidden;
    &--roulette{
        padding-top: 9%;
    }
    &__content{
        &--roulette{
            position: relative;
            padding-top: 11%;
            z-index: 20;
            background: linear-gradient(to top, $dark-color 10%,  transparent 100%);
        }       
        padding-bottom: 1rem;
    } 
    .roulette{
        position: absolute;
        top: 0;
        left: -40%;
        right: -40%;
        z-index: 10;
        margin-top: 1%;
        &__img{
            display: block;
            width: 100%;
            height: auto;
            transition: cubic-bezier(0.230, 1.000, 0.320, 1.000);
            pointer-events: none;
            transition-duration: 5s;
            &::selection{
                background-color: transparent;
            }
        }
    }
}
#spin{
    box-shadow: none;
    outline: none;
    width: 1.6%;
    height: 0;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    top: -0.5%;
    z-index: 20;
    transition: all 0.15s $timing_f;
    background: url('../assets/pointer.svg') no-repeat center;
    padding-bottom: 5.1%;
    &:active{
        top: -0.3%;
    }
}
.is_disabled{
    color: currentColor;
    opacity: 0.8;
    text-decoration: none;
    pointer-events: none;
}
.first_footer{
    padding: 0 1.2rem;
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    &__inner{
        // border-top: 1px solid #1a1a1a;
        border-bottom: 1px solid #1a1a1a;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        width: 100%;
    }
    .logo_cnt{
        width: 60px;
        height: 60px;
    }
    .footer_menu{
        display: flex;
        align-items: center;
        width: 100%;
        flex-flow: row nowrap;
    }
    .bga_cnt{
        &__link{
            display: block;
            width: 200px;
            height: auto;
        }
    }
}
.footer_logo{
    width: 60px;
    height: inherit;
    display: block;
    >img{
        width: 60px;
        height: 60px;
    }
}
.footer_copy{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.8rem;
    flex-flow: column wrap;
    small{
        white-space: nowrap;
    }
}
.search{
    margin-right: 0.8rem;
}
.footer_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer_menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_cnt{
    margin-top: 0.4rem;
    margin-left: 0;
    &__item{
        margin-right: 0.6rem;
        display: inline-flex;
        > a{
            white-space: nowrap;
        }
        .icon{
            width: 1rem;
            height: 1rem;
        }
    }
    li:last-of-type{
        margin-right: 0;
    }
    &--small{
        margin-left: 0;
    }
}

.go_top{
    .icon{
        width: 1.2rem;
        height: 1.2rem;
    }
}
.social{
    margin: 0 0.8rem;
    display: flex;
    align-items: center;
    &__link{
        @extend .share_block__link;
        .icon{
            pointer-events: none;
            width: 2rem;
            height: 2rem;
        }
    }
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@media screen and (max-width: $size-lg) {
    .footer_right{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .footer_copy{
        margin-bottom: 1rem;
    }
    .footer{
        &--roulette{
            padding-top: 18%;
        }
        .roulette{
            margin-top: 6%;
        }

    }
    #spin{
        width: 2%;
        top: -1.8%;
        padding-bottom: 7%;
        &:active{
            top: -1.2%;
        }
    }
}
@media screen and (max-width: $size-md) {
    .first_footer{
        margin-bottom: 2rem;
        &__inner{
            flex-flow: row wrap;
        }
        .footer_menu{
            flex: 1 1 auto;
            width: initial;
            padding-left: unset;
            justify-content: flex-start;
            .menu_item{
                margin-top: 0.35rem;
                margin-bottom: 0.35rem;
            }
        }
        .menu_small{
            flex: 1 0 100%;
            .menu_cnt{
                display: flex;
                flex-flow: row wrap;
                li:last-of-type{
                    margin-right: 0;
                }
            }
        }
    }
    .footer{
        .social{
            margin-left: 0;
        }
    }
    .footer_copy{
        order: 2;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    #spin{
        width: 2.5%;
        padding-bottom: 8%;
        top: -2.5%;
    } 
}
@media screen and (max-width: $size-xs) {
    .first_footer .footer_menu{
        justify-content: center;
    }
    .footer{
        .social{
            margin: 0;
        }
    }
    .menu_cnt{
        &__item{
            margin-right: 0;
            display: block;
            flex: 1 1 100%;
            text-align: center;
        }
    }
}