html{
    scrollbar-width: auto;
    scrollbar-color: #4E4E4E $light-color;
}
body{
    background-color: $dark-color;  
    font-family: 'Function', $body-font-family;
    font-size: 1rem;
    scrollbar-width: auto;
    scrollbar-color: #4E4E4E $light-color;
}
*::-moz-selection{
	color: $light-color;
	background-color: lighten($primary-color, 30);
	text-shadow: none;
} 
*::selection{
	color: $light-color;
	background-color: lighten($primary-color, 30);
	text-shadow: none;
}
::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    background: $light-color;
}
::-webkit-scrollbar-thumb {
    background: #4E4E4E; 
}
::-webkit-scrollbar-thumb:hover {
    background: $primary-color-dark;
}
h1, .h1{
    font-size: 2.25rem;
}
h2, .h2{
    font-size: 1.75rem;
}
h3, .h3{
    font-size: 1.5rem;
}
h4, .h4{
    font-size: 1.25rem;
}
img{
    display: block;
}
.icon{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    vertical-align: sub;
}
.btn-sm .icon{
    width: .8rem;
    height: .8rem;    
}
.btn, .form-input, .modal-container, .card, .menu, .form-select{
    border-radius: $b-radius;
}
.input-group{
    .btn{
        border-bottom-left-radius: inherit;
        border-top-left-radius: inherit;
    }
}
.form-input{
    padding: 0.4rem 0.8rem;
}
.main{
    min-height: calc( 100vh - 227px );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.r_f{
    .main{
        min-height: calc( 100vh - 345px );
    }
}
.mt{
    margin-top: 3.5rem;
}
.form-label{
    font-size: 0.8rem;
}
.toast_outer{
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.35s $timing_f;
}
.toast{
    padding: 0.6rem;
}
.posts_cnt, .search_results, .lottery_cnt{
    order: 2;
}
.query{
    color: $success-color;
}
.my-10{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

// sidebar start

.sidebar{
    order: 1;
    border-radius: $b-radius;
    .menu{
        font-size: 1.2rem;
        transform: none;
        .divider{
            border-color: #3A3A3A;
            &[data-content]{
                margin: 1.2rem 0;
                margin-bottom: 1.6rem;
            }
            &::after{
                font-size: inherit;
            }
        }
        .category_btn{
            .divider{
                &[data-content]{
                    margin: 1.2rem 0;
                }
            }
        }
        .menu-item{
            margin-top: 0.4rem;
            margin-bottom: 0.4rem;
        }
        .menu-item:last-of-type{
            margin-bottom: 0;
        }
    }
    .active_category{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: 0.4rem;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $warning-color;
            animation: live 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }
    .menu a.categories__link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .icon{
            pointer-events: none;
            width: 1.2rem;
            height: 1.2rem;
        }
    }
    &--mobile{
        .category_btn{
            margin: 0;
            list-style: none;
            display: flex;
            cursor: pointer;
            > .divider{
                position: relative;
                width: 100%;
            }
            &:focus{
                outline: 0;
                @include control-shadow();
            }
        }
        > .menu{
            #category_icon{
                display: block;
                pointer-events: none;
                position: absolute;
                top: -1rem;
                right: 0rem;
                background-color: $light-color;;
                border-radius: 50%;
                width: 2rem;
                height: 2rem;
                padding: 0.4rem;
                transition: all 0.3s;
                > .icon{
                    width: 1.2rem;
                    height: 1.2rem;
                    vertical-align: initial;
                }
            }
        }
        ul.menu{
            &__inner{
                margin: 0;
                list-style: none;
                position: relative;
                max-height: 0;
                overflow: hidden;
                transition: all 0.3s;
                animation-fill-mode: forwards;
                transform-origin: top center;
                animation-duration: 0.3s;
                margin-left: -0.1rem;
                margin-right: -0.1rem;
                .menu-item{
                    margin: 0.4rem 0.1rem;
                }
                .menu-item:last-of-type{
                    margin-bottom: 0.1rem;
                }
            }
        }
        .menu__inner.expanded{
            max-height: 9999px;
            animation-name: roll;
            filter: none;
        }
        .menu__inner.hidden{
            max-height: 0px;
            animation-name: hide;
        }
        .rotate{
            transform: rotate(180deg);
        }
    }
}

// sidebar end

.sorting_controlls{
    margin-bottom: 2rem;
    max-width: 100%;
    >.btn-group.btn-group-block{
        max-width: inherit; 
        flex-direction: row;
        .btn{
            flex: 1 0 auto;
        }
    }
}
.category_header{
    h1{
        margin-bottom: 1.75rem;
    }
}

// post card start

.post{
    padding: 0.1rem;
    border-radius: $b-radius;
    margin-bottom: 2rem;
    background-color: $light-color;
    box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
    &__heading{
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }
    &__excerpt{
        > p{
            margin-left: 1.6rem;
            margin-right: 1.6rem;
            margin-bottom: 1.2rem;
        }
        &--search_result{
            > p{
                margin-left: 0;
                margin-right: 0;
            }
        }
    }  
}   
.thumbnail--post{
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: transform 0.4s $timing_f;
    &__video_icon{
        position: absolute;
        left: 1rem;
        top: 1rem;
        z-index: 10;
        .icon{
            width: 60px;
            height: 46px;
        }
    }
    &:hover{ 
        transform: translate3d(0, -8px, 0);
    }
}
.info--post{
    background-color: $dark-color;
    position: absolute;
    bottom: 1rem;
    left: -0.3rem;
    padding: 0.2rem 0.5rem;
    border-radius: $b-radius / 2;
    width: auto;
    &__comments, &__views{
        white-space: nowrap;
    }
}
.info--results{
    @extend .info--post;
    position: static;
    padding: 0;
    color: gray;
}
.thumbnail--post{
    &__link{
        margin-top: -1.6rem;
        display: block;
        position: relative;
        padding-bottom: 50%;
        border-radius: $b-radius;
        height: 0;
        overflow: hidden;
        background-color: $light-color;
    }
    &__estimate_reading{
        @extend .info--post;
        top: 1rem;
        bottom: auto;
        padding: 0 0.5rem;
    }
}
.thumbnail--post__sticky{
    @extend .thumbnail--post__estimate_reading;
    right: -0.3rem;
    left: auto;
    line-height: 2.2rem;
    background-image: linear-gradient(45deg,$light-green 0,$light-yellow 100%);
    > .icon{
        width: 1.2rem;
        height: 1.2rem;
    }
}
.views__icon, .comments__icon{
    svg.icon{
        vertical-align: sub;
        height: 18px;
        width: 18px;
    }
}

// post card end

// streams start

.streams{
    width: 100%;
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}
.grid_sizer, .stream_container{
    width: 47%;
}
.gutter_sizer{
    width: 6%;
}
.stream_sorting_cnt{
    margin-bottom: 1rem;
    >.btn-group.btn-group-block{
        flex-direction: row;
        .btn{
            flex: 1 0 auto;
        }
    }
}
.stream_category_heading{
    &.badge{
        white-space: normal;
    }
    &.badge[data-badge]::after{
        transform: translateY(-1rem);
    }
}
.stream_sorting_cnt--all{
    margin-bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    > div:first-of-type{
        width: 75%;
        margin-right: 0.5rem;
    }
    > div:last-of-type{
        width: 25%;
    }
    .btn:nth-of-type(1){
        z-index: 50;
    }
    .btn:nth-of-type(2){
        z-index: 40;
    }
    .btn:nth-of-type(3){
        z-index: 30;
    }
}
// stream card

.thumbnail--stream{
    margin-left: 0;
    margin-right: 0;
    &--post{
        margin-top: 0;
    }
    &__link{
        display: block;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        background-color: $light-color;
    }
    .thumbnail--stream_img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
    }
    .info_name{
        position: absolute;
        top: 0.5rem;
        left: -0.3rem;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
    }
    .info_views{
        position: absolute;
        top: 0.5rem;
        right: -0.3rem;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        background-color: $light-color;
    }
    span{
        padding: .2rem .4rem;
    }
    .stream_views{
        .icon{
            width: 1rem;
            height: 1rem;
        }
    } 
    >span, .info_views{
        background-color: $light-color;
        border-radius: $b-radius / 2;
    }   
    .live{
        position: absolute;
        top: calc( 35px + 1rem);
        left: -0.3rem;
        display: inline-block;
        &__text{
            background-color: $success-color;
            padding: 0.2rem;
            border-top-left-radius: $b-radius / 2;
            border-bottom-left-radius: $b-radius / 2;
        }
        &__lang{
            background-color: $light-color;
            padding: 0.2rem;
            border-top-right-radius: $b-radius / 2;
            border-bottom-right-radius: $b-radius / 2;
        }
    }
    .number{
        padding: 0;
    }
}
.channel{
    &__title{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.2rem;
        margin-bottom: 0;
        background-color: rgba($dark-color, 0.8);
    }
}
.stream_container{
    .channel > a{
        border-radius: $b-radius;
    }
}
.overflow_hidden{
    overflow: hidden;
}
// streams end

// casinos start

.casino_card_cnt.card{
    margin-bottom: 1.6rem;
    border: none;
}
.casino_card_cnt.card:last-of-type{
    margin-bottom: 0;
}
.casino_card{
    &__heading_cnt{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row nowrap;
        > .casino_heading{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            font-weight: bold;
            margin-left: 0.8rem;
            margin-bottom: 0;
        }
    }
    &__description{
        margin-bottom: 1.2rem;
    }
    &__info{
        display: flex;
        justify-content: flex-end;
        flex-flow: row wrap;
        .game_type_logo--index.tooltip::after{
            background: $dark-color;
        }
       
    }
}
.casino_logo_cnt{
    flex: 0 1 300px;
    > a{
        display: inline-block;
        max-width: 100%;
    }
    &__image{ 
        max-width: 100%;
        display: block;
    }
}
.casino_rating{
    margin-left: 0.8rem;
    position: relative;
    width: 110px;
    height: 110px;
    .rating{
        width: inherit;
        height: inherit;
        transform: rotate(-90deg);
        circle{
            stroke-width: 0.8rem;
        }
        .rating__bg{
            stroke-dashoffset: 0;
            stroke: $border-color;
        }
        .rating__bar{
            stroke: $light-green;
            transition: stroke-dashoffset 1.8s linear;
        }
    }
    .counter{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, $light-green 0, $light-yellow 100%);
        background-repeat: repeat-x;
        color:$light-green;
        font-weight: 700;
        font-size: 1.9rem;
        text-align: center;
        line-height: 110px;
        display: block;
    }
}
.payment_methods{
    display: flex;
    flex-flow: row wrap;
    text-align: left;
    .chip{
        background: #4E4E4E;
    }
    .btn.btn-sm{
        border-radius: 5rem;
        margin: 0.1rem;
    }
}

// casinos end

// pagination start

.pagination--custom{
    margin-top: 3.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    .page-item{
        margin: 0.2rem 0.12rem;
        &.active span{
            background-color: darken($primary-color-dark, 4%);
        }
    }
    .page-item a{
        background-color: $light-color;  
    }
    .page-item a, .page-item.active span, .page-item span{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $b-radius;
        min-width: 36px;
        height: 36px;
    }
    .page-item.active span{
        vertical-align: top;
    }
    .page-item.disabled{
        opacity: 0.45;
        border-radius: $b-radius;
        background-color: $light-color;
    }
}

// pagination end

//login start

.login{
    .login_icon{
        .icon{
            width: 1.6rem;
            height: 1.6rem;
        }
    }
    .icon{
        width: 1.2rem;
        height: 1.2rem;
        vertical-align: top;
    }
}
.header_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    &__img{
        width: 180px;
        height: auto;
    }
    &__link{
        &:active, &:focus{
            box-shadow: none;
            outline: none;
        } 
    }
}
.recapcha{
    min-height: 78px;
    &--mobile{
        min-height: 144px;
    }
}

//login end

// favourite page start

.favourite_heading--articles{
    margin-bottom: 1.75rem;
}
.favourite_item{
    height: calc( 100% - 2rem );
}
.favourite_streams{
    .info_name{
        top:-.5rem;
    }
    .info_views{
        top:-.5rem;
    }
    .live{
        top: calc( 35px + 0.05rem );
    }
}

// favourite page end

// search results page start

.search_title{
    >a{
        display: inline-flex;
        text-decoration: none;
        width: 2rem;
        height: 2rem;
        justify-content: center;
        align-items: center;
        .icon{
            width: inherit;
            height: inherit;
        }
    }
}
.search_results_item{
    margin-top: 1.5rem;
    .icon{
        width: 32px;
        height: 32px;
    }
}

// search results page end

.toast{
    border-radius: $b-radius;
}

//profile page start

.profile{
    .my_comments{
        &__item{
            display: flex;
            flex-flow: row nowrap;
            margin-bottom: 1rem;
            > p{
                flex: 1 1 90%;
                margin-bottom: 0.4rem;
                margin-right: 1rem;
                font-size: 0.8rem;
            }
            .comment_link{
                flex: 0 1 10%;
                display: flex;
                align-items: center;
            }
        }
    }
}

//profile page end

.text-small{
    font-size: 0.9rem;
}
.badge[data-badge]{
    &::after{
        background: $success-color;
    }
}
.form-input.disabled, .form-input:disabled, 
.form-select.disabled, .form-select:disabled{
    background-color: unset;
}
input {
    &:disabled,
    &.disabled {
        & + .form-icon {
        background: #272727;
        cursor: not-allowed;
        opacity: .5;
        }
    }
}
@include margin-bottom(0);
@include margin-bottom(1);
@include margin-top(1);
@include margin-top(2);

@keyframes live {
    from {background-color: $warning-color;}
    to {background-color: $success-color;}
}
@keyframes roll {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes hide {
    0% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

@media screen and (min-width: $size-md) and (max-width: $size-lg) {
    .favourite_item{
        .thumbnail--post{
            &__link{
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        .info--post{
            position: static;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}
@media screen and (max-width: $size-md) {
    .mt{
        margin-top: 3rem;
    }
    .sidebar{
        margin-bottom: 1.75rem;
        .menu{
            min-height: inherit;
        }
    }
    .thumbnail--stream .info_name, .thumbnail--stream .info_views, .live{
        font-size: .8rem;
    }
    .profile{
        .my_comments{
            &__item{
                flex-wrap: wrap;
                > p{
                    margin-right: 0;
                }
            }
        }
    }
}
@media screen and (max-width: $size-sm) {
    .stream_container{
        width: 100%;
    }
    .info--post{
        bottom: 0.3rem;
        font-size: .9rem;
    }
    .thumbnail--post{
        &__video_icon{
            left: 0.5rem;
            top: 0.5rem;
            .icon{
                width: 37px;
                height: 28px;
            }
        }
        &__estimate_reading{
            top: 0.3rem;
            bottom: auto;
        }
    }
    .post__heading, .post__excerpt > p{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .post__excerpt{
        &--search_result > p{
            margin-left: 0;
            margin-right: 0;
        }
    }
    .post__excerpt > p{
        margin-bottom: 0.8rem;
    }
    .stream_sorting_cnt--all{
        flex-wrap: wrap;
        > div:first-of-type{
            width: 100%;
            margin: 0.5rem 0;
        }
        > div:last-of-type{
            width: 66.66%;
        }
    }
    .casino_card{
        &__heading_cnt{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }
        .casino_heading{
            margin-left: 0;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    .casino_logo_cnt{
        flex-basis: auto;
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: $size-xs) { 
    .thumbnail--post{
        &__link{
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .info--post{
            position: static;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
    .post__heading, .post__excerpt > p{
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }
    .post__excerpt{
        &--search_result > p{
            margin-left: 0;
            margin-right: 0;
        }
    }
    .post__excerpt > p{
        margin-bottom: 0.6rem;
    }
    .thumbnail--post .thumbnail--post__estimate_reading{
        display: none;
    }
    .thumbnail--post .thumbnail--post__sticky{
        border-top-left-radius: $b-radius / 2;
        border-top-right-radius: $b-radius / 2;
        position: absolute;
        display: block;
    }
    .casino_card{
        .casino_heading{
            margin-left: 0;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-flow: column nowrap;
            >a, span{
                margin-bottom: 0.5rem;
            }
        }
    }
    .casino_rating{
        margin: 0.5rem 0 0 0;
    }
    .casino_card{
        &__info{
            justify-content: center;
        }
    }
}

@media screen and (min-width: 901px) {
    .sidebar{
        order: 1;
    }
}
@media screen and (min-width: $size-sm){
    .casino_card{
        .casino_heading{
            &--no_logo{
                width: 100%;
                margin: 0;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
@media (prefers-reduced-motion: reduce) {
    *, ::before, ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}