.main_navigation{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    background-color: $light-color;
    position: relative;
    &__menu{
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;
        > .menu_item > .dropdown .icon{
            pointer-events: none;
        }
        .btn.btn-lg.btn-link{
            font-size: 0.7rem;
        }
    }
    .main_navigation{
        display: inline-flex;
    } 
    .btn.active{
        @include control-shadow();
    }
    .columns{
        height: 44px;
    }
    .icon{
        vertical-align: top;
        margin-right: 0.2rem;
    }
}
.main_logo_cnt{
    position: absolute;
    left: 1.1rem;
    top: 10px;
    width: 116px;
    height: auto;
    &:active, &:focus{
        box-shadow: none;
        outline: none;
    } 
    >img{
        width: 116px;
        height: 70px;
    }
}
// menu button start
$height: 40px;
$width: 91px;

#mobile_menu_btn, .filter_chart, .casino_play_btn{
    position: relative;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid $primary-color;
    border-radius: $b-radius;
    outline: none;
    overflow: hidden;
    color: $primary-color;
    transition: color .35s ease, background .25s ease;
    text-align: center;
    z-index: 100;
    &::before{
        @include center;
        content:'';
        border-radius: 50%;
        display: block;
        width: $width * 1.5;
        height: $width * 1.5;
        line-height: $width * 2;
        left: -50px;
        text-align: center;
        transition: box-shadow .5s ease-out;
        z-index: -1;
    }
    &:hover, &:focus{
        color: $body-font-color;
        &::before{
            box-shadow: inset 0 0 0 $width rgba($primary-color, 1);
        }
    }
}
#mobile_menu_btn{
    &:hover{
        color: $light-color;
    }
    &::before{
        left: -36px;
    }
}
.menu_icon.icon{
    z-index: 20;
    width: 1.2rem;
    height: 1.2rem;
}
.menu_icon_text{
    font-size: 0.8rem;
    vertical-align: top;
}
// menu button end
.menu_item{
    margin: 0 0.4rem 0 0;
    &:last-of-type{
        margin-right: 0;
    }
    .icon{
        height: 1.2rem;
    }
    > .dropdown{
        .menu li{
            display: flex;
            &:first-of-type{
                margin-top: 0;
            }
        }
    }
}
.home_title{
    overflow: hidden;
    width: 116px;
    height: inherit;
    text-indent: -99999px;
    position: absolute;
    top: 0;
    left: 0;
}
@media screen and (max-width: $size-md){
    .main_navigation{
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
    }
    .main_logo_cnt{
        position: absolute;
        left: 1.1rem;
        top: 10px;
        width: 94px;
        > img{
            width: 96px;
            height: auto;
        }
    }
}
