#jackpots-tracker{
    > .container > .columns > div:last-of-type{
        min-height: 864px;
    }
}
.current_jackpot_header{
    display: flex;
    flex-flow: row nowrap;
    &__logo_cnt{
        display: flex;
        flex: 1 2 100%;
        min-width: 94px;
        min-height: 66px;
        > .logo_cnt_inner{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            .btn{
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-image: linear-gradient(to right,$light-green 0,$light-yellow 100%);
                margin: 0.4rem;
            }
        } 
    }
    &__info{ 
        flex: 2 1 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end; 
        flex-flow: row wrap;
    }
}
.slot_name_cnt{
    min-width: 66px;
    min-height: 33px;
    display: inline-block;
}
.jackpot_amount{
    min-width: 66px;
    min-height: 24px;
    margin-left: 0.4rem;
    display: flex;
    align-items: center;
    > .chip{
        color: $dark-color;
        background-image: linear-gradient(to right,$light-green 0,$light-yellow 100%);
        background-repeat: repeat-x;
        font-weight: bold;
        -webkit-text-fill-color: initial;
        -webkit-background-clip: none;
        font-weight: bold; 
    }
    > .loader{
        border-radius: 50px;   
    }
}
.casino_logo{
    width: auto;
    height: 50px;
    margin: 0.4rem 0.4rem 0.4rem 0;
    &--table{
        height: 36px;
    }
}
.casino_name{
    display: inline-block;
    margin: 0.4rem 0.4rem 0.4rem 0;
    white-space: nowrap;
}
.slot_name{
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right,$light-green 0,$light-yellow 100%);
    background-repeat: repeat-x;
    color:$light-green;
    margin: 0.4rem;
    &::selection{
        -webkit-text-fill-color: $light-color;
    }
}
.avg{
    > span{
        font-size: 0.8rem;
    }
    &__label{
        color: #666666;
    }
}
.green_gradient{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right,$light-green 0,$light-yellow 100%);
    background-repeat: repeat-x;
    color:$light-green;
    &::selection{
        -webkit-text-fill-color: $light-color;
    }
}
#chart{
    background-color: $light-color;
    border-radius: $b-radius;
    min-height: 447px;
    >div{
        position: relative; 
        max-height: calc( 710px + 2.5rem );
    }
}
#chart.error{
    min-height: 400px;
}
.chart__no_data{
    padding: 4rem 1rem 1rem 1rem;
    flex-direction: column;
}
.controlls{
    &__casinos{
        span {
            display: inline-block;
            > label{
                font-weight: bold;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-image: linear-gradient(to right, $light-green 0, $light-yellow 100%);
                color: $light-green;
                &::selection{
                    -webkit-text-fill-color: $light-color;
                }
            }
        }
    }
    &__slots{
        margin-top: 1rem;
        span{
            display: inline-block;
        }
    }
}
.currency_filter{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-top: 0.8rem;
    font-size: 0.7rem;
    .form-icon{
        width: 0.7rem;
        height: 0.7rem;
    }
    &__inner{
        span{
            display: inline-block;
        }
    }
}
.no_data_img{
    max-width: 200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
}
.padding{
    padding: 1rem;
}
.btn.btn-lg.filter_chart{
    @extend .casino_play_btn;
    display: block;
    margin: 0.8rem auto 2.5rem auto;
    padding: 0 2.5rem;
    &::before{
        transition: box-shadow 0.45s ease-out;
    }
}
.btn.btn-sm.casino_play_btn--sm{
    @extend .casino_play_btn;
    background-image: linear-gradient(45deg, #00f3b1 0, #e7fa58 100%);
    color: #101010;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;
    margin: 0.4rem;
    &::before{
        left: -13px;
        width: 70px;
        height: 70px;
        line-height: 70px;
        transition: box-shadow 0.35s ease-out;
    }
    &:hover, &:focus{
        color: $light-green;
        &::before{
            box-shadow: inset 0 0 0 70px rgba($light-color, 1);
        }
    }
}
.table_casino_logo_block{
    align-items: center;
}
.loader{
    right:0;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: $b-radius;
    background-color: rgba($color:$light-color, $alpha: 0.3);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
.disabled{
    pointer-events: none;
    opacity: 0.15;
}
.controlls__slots{
    >.overflow{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: $b-radius;
        background-color: rgba($color:$light-color, $alpha: 0.4);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .provider_img{
        max-width: 100%;
        height: 47px;
    }
}
.provider_container{
    margin-top: 0.8rem;
    &:first-child{
        margin-top: 0;
    }
    &:nth-of-type(2){
        margin-top: 0;
    }
}
.jackpots_table .table.table-hover{
    tbody tr:hover{
        cursor: pointer;
    }
} 
.jackpots_table{
    overflow-x: scroll;
    &__cnt{
        min-height: 111px;
        .loader{
            margin: 0;
        }
    }
    .table td, .table th{
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
}
.quick-fade-enter-active, .quick-fade-leave-active{
    transition: all .2s linear;
}
.quick-fade-enter, .quick-fade-leave-to{
    opacity: 0;
}
.quick-fade2-enter-active, .quick-fade2-leave-active{
    transition: all .5s linear;
}
.quick-fade2-enter{
    opacity: 0.5;
}
.quick-fade2-leave-to{
    opacity: 0;
}
.slot > label{
    transition: color 0.2s $timing_f;
}
.slot_loading{
    color: white;
}
.jackpot_share{
    white-space: nowrap;
    line-height: 100%;
    &__inner{
        position: absolute;
        right: 100%;
        top: 0;
        transform: translate3d(-10px, -0.4rem, 0);
        padding: 0.4rem;
        background-color: $dark-color;
        line-height: 100%;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s $timing_f;
        border-radius: 1.5rem;
        &.active{
            opacity: 1;
            pointer-events: all;
        }
    }
    .share_block__link{
        margin-right: 0.2rem;
        vertical-align: middle;
        &:last-of-type{
            margin-right: 0;
        }
        .icon{
            width: 1.6rem;
            height: 1.6rem;
        }
    }
    .share_block__link{
        opacity: 1;
        pointer-events: none;
        transform: translate3d(-25%, 0, 0) scale(0.8);
        transition: transform 0.3s $timing_f;
    }
    .twitter{
        transition-delay: 0.05s;
    }
    .whatsapp{
        transition-delay: 0.1s;
    }
    .telegram{
        transition-delay: 0.15s;
    }
    .tumblr{
        transition-delay: 0.2s;
    }
    .share_block__link.active{
        opacity: 1;
        pointer-events: all;
        transform: translate3d(0, 0, 0);
    }
}
@media screen and ( max-width: $size-lg ) {
    .current_jackpot_header{
        flex-wrap: wrap;
        min-height: 122px;
        &__logo_cnt{
            flex: 1 1 100%;
            justify-content: center;
            margin-bottom: 1.2rem;
            .logo_cnt_inner{
                flex-wrap: wrap;
                justify-content: center;
            }
            .casino_logo{
                display: block;
                height: auto;
                max-height: 80px;
                max-width: 100%;
                margin-left: 0.4rem;
            }
            .casino_name{
                margin-left: 0.4rem;
            }
            
        }
        &__info{
            justify-content: center;
        }
    }
    .jackpot_amount{
        margin-right: 0.4rem;
    }
    
}
@media screen and ( max-width: $size-sm ) {
    .current_jackpot_header{
        min-height: 162px;
        &__logo_cnt{
            .casino_logo{
                margin-right: 0;
                margin-left: 0;
                padding: 0 0.4rem;
            }
        }
        &__info{
            flex-direction: column;
        }
    }
    .jackpot_amount{
        margin-top: 0.4rem;
    }
    .controlls__slots{
        .provider_img{
            height: unset;
            max-height: 47px;
        }
    } 
    .casino_logo{
        &--table{
            height: 28px;
        }
    }
    #jackpots-tracker .currency_filter{
        justify-content: flex-start;
    }
}
@media screen and ( max-width: $size-xs ) {
    .casino_logo{
        &--table{
            height: 22px;
        }
    }
}