.lottery_header{
    display: flex;
    justify-content: space-between;
}
.lottery_card{
    display: flex;
    padding: 0.7rem 0.1rem;
    margin-bottom: 2.4rem;
    background-color: $light-color;
    box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
    min-height: 200px;
    height: calc(100% - 2.4rem);
    position: relative;
    background-image: url('../assets/lottery/star-corner.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 280px;
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 16px;
        background: url('../assets/lottery/ticket.svg') repeat-x center top;
        transform: rotate(180deg);
    }
    &::after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 16px;
        background: url('../assets/lottery/ticket.svg') repeat-x center top;
        background-size: contain;
    }
    &__inner{
        margin: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
    }
}
.lottery_image_cnt{
    >img{
        margin: 0 auto;
        width: 200px;
        max-width: 100%;
    }
} 
.lottery_heading{
    margin-top: 1.5rem;
}  
.multiplier{
    margin-top: 1rem;
    &__value{
        font-weight: bold;
    }
}
.numbers_cnt{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .number{
        box-shadow: 0 0 20px #8b8b8b inset;
        background-color: white;
        display: block;
        width: 42px;
        height: 42px;
        margin-right: 0.3rem;
        margin-top: 1rem;
        border-radius: 38px;
        text-align: center;
        line-height: 42px;
        color: $dark-color;
        font-weight: bold;
        &:last-of-type{
            margin-right: 0;
        }
    }
    &--lottomax{
        display: block;
        .number{
            display: inline-block;
        }
    } 
    > .m_ball{
        background-color: #ffdf00;
    }
}
 
.powerball .number:last-of-type{
    background-color: #db1835;
    color: white;
    box-shadow: 0 0 20px #5e5e5e inset;
}  
.euromillions{
    .number{
        width: 32px;
        height: 32px;
        line-height: 32px;
        margin-right: 0.2rem;
    }
    .star{
        background: url(../assets/lottery/star.svg) center no-repeat;
        box-shadow: none;
        border-radius: 0;
        background-size: contain;
        font-size: 0.8rem;
    }
}
.lottomax{
    .number{
        width: 32px;
        height: 32px;
        line-height: 32px;
        margin-right: 0.2rem;
    }
}
.amount_cnt, .draw_date, .amount_cnt__cash_value, .max_millions_numbers{
    margin-top: 1rem;
}
.max_millions_btn{
    img{
        max-width: 106px;
    }
}
@media screen and (max-width: $size-lg) {
    .lottery_image_cnt{
        display: none
    }
    .lottery_card__inner{
        display: block;
    }
    .numbers_cnt{
        justify-content: flex-start;
    }
    .lottery_heading{
        margin-top: 0;
    }
    .powerball{
        background: url(../assets/lottery/powerball.png) right center no-repeat;
        background-size: 40%;
    }
    .megamillions{
        background: url(../assets/lottery/mega-millions.png) right center no-repeat;
        background-size: 40%;
    }
    .euromillions{
        background: url(../assets/lottery/euro-millions.png) right center no-repeat;
        background-size: 25%;
    }
    .lottomax{
        background: url(../assets/lottery/lotto-max.png) right center no-repeat;
        background-size: 40%;
    }
    .lottery_card{
        background-size: 350px;
    }
}
@media screen and (max-width: $size-md) {
    .lottery_card{
        background-size: 320px;
    }
}
@media screen and (max-width: $size-sm) {
    .lottery_card__inner{
        display: flex;
        justify-content: center;
    }
    .lottery_image_cnt{
        display: block;
    }
    .lottery_heading{
        margin-top: 1.2rem;
    }
    .euromillions, .powerball, .megamillions, .lottomax{
        background: none;
    }
    .lottery_card{
        background-size: 80%;
    }
}