@mixin margin-bottom($amount) {
    .mb_#{$amount}{
        margin-bottom: #{$amount}rem;
    }
}

@mixin margin-top($amount) {
    .mt_#{$amount}{
        margin-top: #{$amount}rem;
    }
}

// @mixin padding-bottom($amount) {
//     .pb_#{$amount}{
//         padding-bottom: #{$amount}rem;
//     }
// }

// @mixin padding-top($amount) {
//     .pt_#{$amount}{
//         padding-top: #{$amount}rem;
//     }
// }

@mixin center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
