.mobile_menu_wrapper{
	display: none;
	visibility: hidden;
	pointer-events: none;
}
.mobile_menu_wrapper .mobile_menu_cnt__inner.hidden{
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}
.mobile_menu_wrapper .mobile_menu_cnt.hidden{
	opacity: 0;
	pointer-events: none;
}
.mobile_menu_toggle>div{
    display: flex;
    justify-content: flex-end;
}
.menu_content_scroll{
    overflow-y: auto;
    height: 100%;
}
@media screen and (min-width: 1021px) {
	.nav{
		&__mobile_site_header{
			display: none;
		}
	}
	.mobile_menu_cnt.hidden{
		visibility: hidden;
    }
    .cart_contents{
        padding-left: 1rem;
    }
}
@media screen and (max-width: $size-lg) {
	.nav{
		&__mobile_site_header{
			display: block;
			margin: 0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
    }
	.wrap{
		overflow: scroll;
	}
	.mobile_menu_wrapper{
		display: block;
		visibility: visible;
		pointer-events: auto;
	}
	.mobile_menu_active{
        position: fixed;
		overflow: hidden;
    	left: 0;
    	right: 0;
    	bottom: 0;
        top: 0;
        overflow-y: scroll;
		.overflow{
			-webkit-filter: blur(8px);
            filter: blur(8px);
            height: 100vh;
		}
		.mobile_menu_wrapper{
			display: block;
		}
	}
	.mobile_menu_wrapper{
		.menu_content{
			padding: 1.6rem;
			height: 100%;
			min-height: 680px;
			background: url(../assets/arabesque.png);
			>h1{
				color: $primary-color;
			}
		}
		.mobile_menu_cnt{
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0,0,0,0.75);
	    	z-index: 400;
	    	opacity: 1;
	    	-webkit-transition: opacity 0.2s linear;
	    	-o-transition: opacity 0.2s linear;
	    	transition: opacity 0.2s linear;
	    	pointer-events: auto;
	    	visibility: visible;
	    	max-height: 100vh;
	    	-webkit-backdrop-filter: blur(8px);
    		backdrop-filter: none;
			&__inner{
				z-index: 500;
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				width: 400px;
				display: block;
				-webkit-transition: -webkit-transform 0.4s ease-in-out;
				transition: -webkit-transform 0.4s ease-in-out;
				-o-transition: transform 0.4s ease-in-out;
				transition: transform 0.4s ease-in-out;
				transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
				background-color: #162128;
                text-align: center;
			}
		}
		.mobile_menu_cnt.transition_delay{
			-webkit-transition-delay: 0.2s;
			-o-transition-delay: 0.2s;
			transition-delay: 0.2s;
		}
		.mobile_menu_list_cnt{
			margin-top: 1.6rem;
		 	padding: 0.9rem;
            height: calc(100% - (74px + 1.6rem + 78px + 1.6rem));
            list-style: none;
            padding: 0;
            margin: 0;
            list-style: none;
            padding: 0;
            >li{
                margin: 0.9rem 2.1rem;
                text-align: left;
                &:first-of-type{
                    margin-top: 0;
                }
            }
            .btn.active{
                @include control-shadow();
            }
            .menu_item .icon{
                width: 1.2rem;
                margin-right: 0.2rem;
            }
		}
    }
    .accordion .mobile_favourites_trigger{
        color: $primary-color;
        padding: 0.45rem 0.9rem;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        white-space: nowrap;
        >.icon{
            pointer-events: none;
        }
    }
    .accordion-body{
        ul{
            list-style: none;
            padding: 0.5rem 0.45rem;
            margin: 0;
        }
    }
	.close_menu_cnt{
		margin-bottom: 1.6rem;
	 	padding: 0.9rem;
	 	text-align: center;
    }
}
#close_menu_btn{
    .icon{
        width: 1.2rem;
        height: 1.2rem;
    }
}
.mobile_sub_menu{
    background-color: $light-color;
    border-radius: $b-radius;
    @include shadow-variant(.05rem);
    &__item{
        display: flex;
        justify-content: center;
        &:first-of-type{
            margin-top: 0;
        }
    }
}

@media screen and (max-width: $size-xs) {
	.mobile_menu_wrapper{
		.mobile_menu_cnt{
			&__inner{
				width: 100%;
			}
		}
    }
}
