.post_title, .single_casino_title{
    margin: 1rem 0;
}
.single_thumbnail_outer{
    position: relative;
    &__video_icon{
        position: absolute;
        left: 1rem;
        top: 1rem;
        z-index: 10;
        .icon{
            width: 120px;
            height: 92px;
        }
    }
    &__estimate_reading{
        @extend .info--post;
        top: 1rem;
        bottom: auto;
        padding: 0 0.5rem;
        background-color: $light-color;
    }
}
.thumbnail--post_single{
    display: block;
    position: relative;
    padding-bottom: 33.3333%;
    border-radius: $b-radius;
    height: 0;
    overflow: hidden;
    background-color: $light-color;
    margin: 0;
}
.single_post{
    .info{
        color: $l-gray;    
    }
}
.twitch_player_cnt{
    position: relative;
    #twitch_player{
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        background-color: $light-color;
        .loading{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; 
        }
    }
    &::after{
        content: "";
        position: absolute;
        z-index: -1; /* hide shadow behind image */
        -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);                
        width: 100%; 
        left: 0; /* one half of the remaining 30% */
        height: 100px;
        bottom: 0;
    }
}
.bottom_controlls{
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    margin-top: 1.25rem;
    .share_block{
        margin-top: 1.25rem; 
    }
    .fav_form{
        margin-top: 1.25rem;
    }
    .single_back_btn, .single_edit_btn{
        margin-top: 1.25rem;
    }
}
.share_block{
    display: flex;
    flex: 0 0;
    flex-basis: 270px;
    justify-content: space-between;
    margin-right: auto;
    align-self: center;
    align-items: center;
    &__lable{
        display: inline-block;
        height: 100%;
    }
    &__link{
        display: inline-flex;
        border-radius: 50%;
        transition: all 0.2s linear;
        opacity: 0.85;
        &:hover, &:focus{
            transform: scale(1.1);
            transform-origin: center;
            opacity: 1;
        }
    }
    .icon{
        pointer-events: none;
        width: 2rem;
        height: 2rem;
    }
}

// bottom gallery start

.post_gallery{
    padding-bottom: 1rem;
    overflow: hidden;
    padding: 0.1rem;
    .glightbox{
        display: block;
        border-radius: $b-radius / 2;
        overflow: hidden;
        > img{
            width: 100%;
            height: auto;
        }
    } 
}
.post_gallery__inner{
    width: 100%;  
    opacity: 0;
    transition: opacity 0.4s $timing_f;
    height: 5rem;
    &--revealed{
        opacity: 1;
        height: auto;
    }
}
.grid_sizer_post_gallery, .post_gallery__item{
    width: 18%; 
}
.gutter_sizer_post_gallery{
    width: 2.5%;
}
.grid_sizer_post_gallery{
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

// bottom gallery end

// ckeditor styles start

.post_content{
    h1, h2, h3, h4, h5, .media{
        clear: both;
    }
    font-size: 1.1rem;
    img{
        max-width: 100%;
    }
    .image:not(.image-style-side){
        margin-left: 0;
        margin-right: 0; 
        img{
            margin-left: auto;
            margin-right: auto;
        }
    }
    figure.image{
        img{
            max-width: 100%;
            height: auto;
            cursor: pointer;
        }
        figcaption{
            padding-top: .2rem;
            font-size: 0.9rem;
            text-align: center;
            color: $l-gray;
            font-style: italic;
        }
    }
    .image-style-side, .image-style-align-right, .image-style-align-left{
        max-width: 47%;
        display: table;
        clear: both;
        img{
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .image.image-style-side, .image.image-style-align-right{
        margin-right: 0;
        margin-left: 2rem;
        float: right;
    }
    .image.image-style-align-left{
        margin-left: 0;
        margin-right: 2rem;
        float: left;
    }
    &::after{
        content: "";
        clear: both;
        display: table;
    }
    .media{
        margin-left: 0;
        margin-right: 0;
    }
    h1, h2, h3, h4, h5, h6{
        color: $l-gray;
    }
    .table{
        margin: 0 0 1.2rem 0;
        > table{
            margin-left: auto;
            margin-right: auto;
        }
    }
    .text-small {
        font-size: 0.85rem;
    }
    .text-big {
        font-size: 1.5rem;
    }
    blockquote{
        overflow: hidden;
        font-style: italic;
    }
}

// ckeditor styles end
.singel_post_casino_block_casino{
    display: flex;
    justify-content: space-between;
    
    > div{

        height: 50px;
        margin-bottom: 1rem;
    }
    .singel_post_casino_block_casino_img_cnt{
        display: flex;
        align-items: center;
        &__link{
            display: inline-block;
            margin-right: 1rem;
        }
        &__image{
            max-width: 100%;
        }
    }
    
    &__rating{
        vertical-align: middle;
        text-align: center;
    }
}
// casino page start

.casio_list_cnt{
    overflow-x: hidden;
}
.casino_link_cnt{
    display: flex;
    justify-content: flex-end;
}
.casino_top_banner_cnt{
    position: relative;
    margin: 0 0 1rem;
    &--no_banner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__banner{
        position: relative;
        padding-bottom: 33.3333%;
        border-radius: .35rem;
        height: 0;
        overflow: hidden;
        background-color: $light-color;
    }
    &__logo{
        position: absolute;
        top: -0.7rem;
        left: -0.7rem;
        margin-right: 140px;
        display: block;
        &--lg{
            overflow: hidden;
            position: relative;
            max-width: 70%;
            > img{
                max-width: 100%;
            }
        }
        > img{
            display: block;
            max-height: 150px;
            max-width: 100%;
        }
    }
}
.single_casino_rating_bg{
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 170px;
    height: 170px;
    right: -1rem;
    bottom: -1rem;
    background: url(../assets/corner.svg);
}
.casino_rating{
    display: block;
    &--single{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 140px;
        height: 140px;
        margin: 0;
        z-index: 10;
        .rating{
            circle{
                stroke-width: 1.2rem;
            }
        }
        .counter{
            font-size: 2.3rem;
            line-height: 140px;
            display: block;
        }
    }
    &--single_no_banner{
        width: 140px;
        height: 140px;
        .rating{
            circle{
                stroke-width: 1.2rem;
            }
        }
        .counter{
            font-size: 2.3rem;
            line-height: 140px;
            display: block;
        }
    }
}
.btn.btn-lg.casino_play_btn{
    padding: 0rem 3rem;
    height: 3rem;
    background-image: linear-gradient(45deg, $light-green 0, $light-yellow 100%);
    font-size: 1.8rem;
    color: $dark-color;
    line-height: 3rem;
    &::before{
        left: -10px;
        width: 200px;
        height: 200px;
        line-height: 200px;
        transition: box-shadow 0.35s ease-out;
    }
    &:hover, &:focus{
        color: $light-green;
        &::before{
            box-shadow: inset 0 0 0 200px rgba($light-color, 1);
        }
    }
}
.single_casino_title_cnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    .single_casino_title{
        margin-bottom: 0;
    }
}
.game_type_logo{
    display: inline-block;
    > .icon{
        width: 42px;
        height: 42px;
        color: $light-green;
    }
    &--index{
        &:last-of-type{
            margin-right: 0 !important;
        }
        > .icon{
            width: 35px;
            height: 35px;   
        }
    }
}
.chip > .avatar{
    background-color: $light-yellow;
    font-weight: bold;
}
// casino page end

// stream start
.stream_description{
    .accordion input:checked ~ .accordion-body, .accordion[open] .accordion-body {
        max-height: 120rem;
    }
    .accordion-header{
        padding-left: 0;
        display: inline-block;
    }
}
// stream end
@media screen and ( max-width: $size-md ) { 
    .single_thumbnail_outer{
        &__video_icon{
            .icon{
                width: 60px;
                height: 46px;
            }
        }
    }
    .grid_sizer_post_gallery, .post_gallery__item{
        width: 22%; 
    }
    .gutter_sizer_post_gallery{
        width: 4%;
    }
    .casino_top_banner_cnt{
        &__logo{
            &--lg{
                margin: 0 auto;
                max-width: 100%;
                > img{
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                }
            }
        }
    }
    .single_casino_rating_cnt{
        right: -1.7rem;
        bottom: -1.7rem;
        &--no_banner{
            bottom: -1rem;
        }
    }
    .casino_rating--single{
        right: -0.7rem;
        bottom: -0.7rem;
    }
    .game_type_logo{
        > .icon{
            width: 55px;
            height: 55px;
        }
        &--index{
            > .icon{
                width: 35px;
                height: 35px;   
            }
        }
    }
}
@media screen and ( max-width: $size-sm ) {
    .post_content{
        .image-style-side, .image-style-align-right, .image-style-align-left{
            width: 100%;
            max-width: 100%;
            margin-left: 0;
            img{
                margin-right: auto;
                margin-left: auto;
            }
        }
        .image.image-style-side, .image.image-style-align-right{
            margin-left: 0;
        }
        .image.image-style-align-left{
            margin-right: 0;
        }
    }
    .single_thumbnail_outer{
        &__estimate_reading{
            top: 0.3rem;
        }
        &__video_icon{
            left: 0.5rem;
            top: 0.5rem;
            .icon{
                width: 37px;
                height: 28px;
            }
        }
    }
    .grid_sizer_post_gallery, .post_gallery__item{
        width: 30%; 
    }
    .gutter_sizer_post_gallery{
        width: 3.33%;
    }
    .casino_top_banner_cnt{
        &--no_banner{
            flex-direction: column;
        }
    }
    .casino_rating--single_no_banner{
        margin: 1.2rem 0 0 0;
    }
    .single_casino_title_cnt{
        flex-direction: column;
    }
    .game_type_logo{
        > .icon{
            width: 45px;
            height: 45px;
        }
        &--index{
            > .icon{
                width: 35px;
                height: 35px;   
            }
        }
    }
}
@media screen and ( max-width: $size-xs ) {
    .post_content{
        .image-style-side{
            max-width: 100%;
            img{
                width: 100%;
            }
        }
    }
    .single_casino_rating_cnt{
        bottom: -3.40rem;
    }
    .casino_rating--single{
        bottom: 0rem;
        transform: translateY(35%); 
    }
    .single_casino_rating_bg{
        bottom: -2.9rem;
    }
    .casino_link_cnt{
        justify-content: flex-start;
    }
    .share_block{
        flex-basis: 215px;
        &__lable{
            display: none;
        }
    }
}