/* Core variables*/
/* Core features*/
/* Core colors*/
/* Gray colors*/
/* Control colors*/
/* Other colors*/
/* Fonts*/
/* Credit: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/*/
/* Unit sizes*/
/* Font sizes*/
/* Sizes*/
/* Responsive breakpoints*/
/* Z-index*/
.dashboard_sidebar:not(.file_manager_menu),
.add_post_form,
.edit_categories,
.add_casino_form,
.edit_casino_form,
.add_jackpot_form,
.add_slot_form {
  margin-bottom: 4rem;
}

.file_manager_menu {
  margin-bottom: 1.5rem;
}

.add_post_form, .manage_posts, .edit_categories, .file_manager,
.edit_comments, .index_jackpots, .index_casinos, .add_jackpot_form,
.add_casino_form, .edit_casino_form, .add_slot_form {
  order: 2;
}

.dashboard_sidebar {
  order: 1;
}
.dashboard_sidebar .menu {
  font-size: 1.2rem;
  transform: none;
}
.dashboard_sidebar .menu .divider {
  border-color: #3A3A3A;
}
.dashboard_sidebar .menu .divider[data-content] {
  margin: 1.2rem 0;
  margin-bottom: 1.6rem;
}
.dashboard_sidebar .menu .divider::after {
  font-size: inherit;
}
.dashboard_sidebar .menu .category_btn .divider[data-content] {
  margin: 1.2rem 0;
}
.dashboard_sidebar .menu .menu-item {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.dashboard_sidebar .menu .menu-item:last-of-type {
  margin-bottom: 0;
}

.edit_posts__post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}
.edit_posts__post > h4 {
  margin-bottom: 0;
}
.edit_posts .not_published > h4 {
  opacity: 0.5;
}

.edit_post_thumbnail {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}
.edit_post_thumbnail__img {
  border-radius: 0.35rem;
  max-width: 100%;
  height: auto;
}

.edit_post_btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex: 0 0 77px;
}

.dashboard_sidebar .accordion .accordion-header {
  position: relative;
  padding: 0;
}

.form_heading_cnt {
  display: flex;
  justify-content: space-between;
}
.form_heading_cnt--create_post {
  justify-content: flex-end;
}

.form_flex_end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1em;
}

.add_category_cnt {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.edit_category_btns {
  width: 61px;
}

.category_type {
  color: #616161;
}

.ck {
  color: #101010;
}

.comment p {
  margin-top: 0.9rem;
  margin-bottom: 0.2rem;
}
.comment form {
  display: inline;
}

.attachment {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
.attachment > img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.attachment__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #272727;
  border-radius: 0.35rem;
}

.slots_edit_name {
  display: flex;
}

.slots_edit_cnt > form {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.provider_data {
  margin-bottom: 1.2rem;
}

.edit_casino_logo {
  width: 100%;
  height: auto;
}

.index_casinos .table {
  font-size: 0.8rem;
}

#gallery_modal .modal-container {
  height: 75vh;
}

.attacments_cnt {
  min-height: calc( 75vh - 218px );
  position: relative;
}
.attacments_cnt .gallery_img {
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
}
.attacments_cnt .gallery_img:active, .attacments_cnt .gallery_img:focus {
  transform: scale(0.95);
  box-shadow: 0 0 0 0.1rem rgba(85, 133, 167, 0.2);
}

#modal_loader, .modal_no_images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.gallery_modal_pagination a > .icon {
  pointer-events: none;
}

@media screen and (max-width: 900px) {
  .dashboard_sidebar:not(.file_manager_menu),
.add_post_form,
.edit_casino_form,
.add_casino_form,
.add_jackpot_form,
.edit_categories,
.add_slot_form {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 900px) {
  .dashboard_sidebar:not(.file_manager_menu) .menu {
    min-height: initial;
  }
}