<template>
    <label class="form-radio">
        <input type="radio" name="casino" :value="casino.id" v-model="currentPickedCasinoId" @click="setActiveCasinoName($event, casino.id)">
        <i class="form-icon"></i> {{ casino.name }}
    </label>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
    props: {
        casino: Object,
        firstCasionId: Number,
    },
    computed: {
        ...mapState(['pickedCasinoId']),
        currentPickedCasinoId: {
            get(){
                return this.pickedCasinoId
            },
            set(newid){
                return newid
            } 
        }
    },
    methods: {
        ...mapActions(['getPickedCasinoName', 'getPickedCasinoId']),
        setActiveCasinoName(event, id) {
            if (this.pickedCasinoId === null || this.pickedCasinoId === id) {
                return
            }
            this.getPickedCasinoName({ value: event.target.parentElement.textContent.trim() })
            this.getPickedCasinoId({ value: id })
        }
    },
}
</script>
