<template>
    <label class="form-radio" :class="{ 'disabled': disabledSlot(casinoSlot.id), 'slot_loading': slotsLoading }" >
        <input type="radio" name="slot" ref="slotRadio" @click="setPickedSlot(casinoSlot.id)" 
            :value="casinoSlot.id" v-model="currentPickedSlot" 
            :disabled="disabledSlot(casinoSlot.id) ? true : false" 
            :checked="disabledSlot(casinoSlot.id) ? '' : 'checked'">
        <i class="form-icon"></i> {{ casinoSlot.name }}
    </label>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
    props: {
        casinoSlot: Object,
    },
    computed: {
        ...mapState(['casinoSlots', 'pickedSlotId', 'slotsLoading']),
        currentPickedSlot: {
            get(){
                return this.pickedSlotId
            },
            set(newid){
                return newid
            } 
        },
    },
    methods: {
        ...mapActions(['getPickedSlotId']),
        setPickedSlot(slot_id = null) {
            this.getPickedSlotId({ value: slot_id })
        },
        disabledSlot(id) {
            return this.casinoSlots.indexOf(id) === -1
        }       
    }
}
</script>