<template>
    <h2 class="current_jackpot_header text-center mt h3">
        <div v-if="currentCasino" class="current_jackpot_header__logo_cnt p-relative">
            <transition name="quick-fade"> 
                <div v-if="!loading && currentCasino.url" class="logo_cnt_inner">
                    <a :href="currentCasino.url" target="blank" title="Go to casino">
                        <img v-if="currentLogo" :src="currentLogo" :alt="activeCasinoName" class="casino_logo">
                        <span v-else class="casino_name">{{ activeCasinoName }}</span>
                    </a>  
                    <a :href="localCasinoLink" class="btn btn-sm btn-link">Casino details</a> 
                </div> 
                <div v-else-if="!loading && !currentCasino.url" class="logo_cnt_inner">
                    <img v-if="currentLogo" :src="currentLogo" :alt="activeCasinoName" class="casino_logo">
                    <span v-else class="casino_name">{{ activeCasinoName }}</span>
                    <a :href="localCasinoLink" class="btn btn-sm btn-link">Casino details</a> 
                </div>       
                <div v-else class="loading loader p-absolute" key="loading"></div>
            </transition>
        </div>   
        <div class="current_jackpot_header__info">  
            <div class="slot_name_cnt p-relative">
                <transition name="quick-fade"> 
                    <span v-if="!loading" class="slot_name">{{ slotName }}</span>
                    <div v-else class="loading loader p-absolute" key="loading"></div>
                </transition>
            </div>
            <div v-if="currentJackpot" class="jackpot_amount p-relative"> 
                <transition name="quick-fade">
        
                    <CurrentJpChip v-if="!loading" :jackpotValue="currentJackpot" />

                    <div v-else class="loading loader p-absolute" key="loading"></div>
                </transition>
            </div>
        </div> 
    </h2> 
</template>

<script>
    import { mapState } from 'vuex'
    import { convertCurrency } from '../../helpers/functions.js'
    import CurrentJpChip from './CurrentJpChip.vue'

    export default {
        components: {
            CurrentJpChip
        },
        props: {
            casinos: {
                type: Array
            }
        },
        computed: {
            ...mapState(['loading', 'activeSlotsinCasino', 'slotName', 'activeCasinoName', 'activeCasinoId', 'currency']),
            // load() {
            //     return !this.loading
            // },
            localCasinoLink() {
                return `${window.location.origin ? window.location.origin + '/casinos' : 'https://gamblingcentral.info/casinos'}/${this.currentCasino.slug}`
            },
            currentCasino() {
                return this.casinos.find(casino => casino.id === this.activeCasinoId)
            },
            currentJackpot() {
                if (this.activeSlotsinCasino !== null && this.activeSlotsinCasino.length > 0) {
                    if (this.activeSlotsinCasino[0].date_amount !== null && this.activeSlotsinCasino[0].date_amount.length > 0) {
                        let jackpotInCents = this.activeSlotsinCasino[0].date_amount[this.activeSlotsinCasino[0].date_amount.length -1].jack_data.amount

                        return convertCurrency(jackpotInCents, this.currency)

                    }
                    return null
                }
                return null
            },
            currentLogo() {
                if (!this.activeCasinoId) return null

                if (this.currentCasino === undefined) return null

                if (this.currentCasino.image === 'undefined') return null

                if (!this.currentCasino.image) return null

                if (this.currentCasino.image.branding === 'undefined') return null

                if (!this.currentCasino.image.branding) return null

                if (this.currentCasino.image.branding.logo === 'undefined') return null

                if (!this.currentCasino.image.branding.logo) return null

                return this.currentCasino.image.branding.logo.md
            },
        },
    }
</script>