<template>
	<span class="chip" ref="jackamount"> 
		{{ jackpotValue }}
	</span>
</template>

<script>
import { mapState } from 'vuex'
import { CountUp } from 'countup.js'

export default {
	props: {
		jackpotValue: {
			type: Number
		},
	},
	methods: {
		animateJackpot() {
			const countUp = new CountUp(this.$refs.jackamount, this.jackpotValue ? this.jackpotValue : 0, {
				prefix: this.currency.symbol + ' '
			})

			if (!countUp.error) countUp.start()  
		},
	},
	computed: {
		...mapState(['currency'])
	},
	mounted() {
		this.animateJackpot()
	},
	updated() {
        this.animateJackpot()
    },
}
</script>