<template>
    <div>
        <JackpotFilterController :casinos="casinos" :slots="slots" :providerimages="providerimages" />

        <ChartHeader v-if="isNoError && activeSlotsinCasino.length > 0" :casinos="casinos" />

        <div id="chart" class="chart p-relative" :class="[!isNoError || activeSlotsinCasino.length <= 0  ? 'error' : '']">
            <transition name="quick-fade">  
                <div v-if="!loading" key="chart">
                    <ChartAvg v-show="!loading && isNoError" />
                    <LineChart v-if="!loading && activeSlotsinCasino.length > 0" :chartData="chartData" :options="options" />
                    <ChartError v-else :imageSrc="imageSrc" />  
                </div>
                <div v-else class="loading loading-lg p-absolute loader" key="loading"></div>
            </transition>  
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import JackpotFilterController from './JackpotFilterController.vue'
    import LineChart from './Chart/LineChart.vue'
    import ChartHeader from './ChartHeader/ChartHeader.vue'
    import ChartAvg from './Chart/ChartAvg.vue'
    import ChartError from './Chart/ChartError.vue'
    import { numberWithCommas } from '../helpers/functions.js'

    export default {
        components: {
            JackpotFilterController,
            LineChart,
            ChartHeader,
            ChartAvg,
            ChartError
        },
        props: {
            casinos: {
                type: Array
            },
            slots: {
                type: Array
            },
            casinoid: {
                type: Number
            },
            slotid: {
                type: Number
            },
            baseUrl: {
                type: String
            },
            providerimages: {
                type: Object
            },
        },
        data(){
            return {
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    responsiveAnimationDuration: 500,
                    spanGaps: false,
                    legend: {
                        display: false
                    },
                    hover: {
                        mode: 'index'
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            ticks: {
                                fontFamily: 'Function',
                 
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'DATE(d/m/y)',
                                fontFamily: 'Function',
                                fontSize: 16,
                                padding: 4,
                                fontColor: '#00f3b1'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            ticks: {
                                fontFamily: 'Function',
                                fontSize: 14,
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'EUR',
                                fontFamily: 'Function',
                                fontSize: 16,
                                padding: 4,
                                fontColor: '#00f3b1'
                            }
                        }]
                    },
                    layout: {
                        padding: {
                            right: 30,
                            left: 10,
                            top: 40,
                            bottom: 20
                        }
                    },
                    tooltips: {
                        titleFontFamily: 'Function',
                        bodyFontFamily: 'Function',
                        titleFontSize: 16,
                        bodyFontSize: 16,
                        cornerRadius: 7,
                        callbacks: {
                            label: (tooltipItem, data) => {
                                let label = data.datasets[tooltipItem.datasetIndex].label || '';
 
                                if (label) {
                                    label += `: ${this.currency.symbol} `;
                                }
                               
                                return label += numberWithCommas(tooltipItem.yLabel);
                            }
                        }
                    }
                },
            }
        },
        computed: {
            ...mapState(['loading', 'sessionError', 'dataError', 'activeSlotsinCasino', 'chartData', 'currency']),
            isNoError() {
                return Object.keys(this.sessionError).length === 0 && Object.keys(this.dataError).length === 0
            },
            imageSrc() {
                return `${this.baseUrl}/assets/slot.png`
            }
        },
    }
</script>
