<template>
    <div class="currency_filter">
        <div class="currency_filter__inner">
            <label class="form-label" for="currency">Currency:</label>
            <span>
                <label class="form-radio">
                    <input type="radio" name="currency" value="EUR" v-model="currency.code" @click="setCurrency('EUR')">
                    <i class="form-icon"></i> 
                    €
                </label>
            </span>
            <span>
                <label class="form-radio">
                    <input type="radio" name="currency" value="USD" v-model="currency.code" @click="setCurrency('USD')">
                    <i class="form-icon"></i> 
                    $
                </label>
            </span>
            <span>
                <label class="form-radio">
                    <input type="radio" name="currency" value="GBP" v-model="currency.code" @click="setCurrency('GBP')">
                    <i class="form-icon"></i> 
                    £
                </label>
            </span>
            <span>
                <label class="form-radio">
                    <input type="radio" name="currency" value="CAD" v-model="currency.code" @click="setCurrency('CAD')">
                    <i class="form-icon"></i> 
                    CA$
                </label>
            </span>
            <span>
                <label class="form-radio">
                    <input type="radio" name="currency" value="AUD" v-model="currency.code" @click="setCurrency('AUD')">
                    <i class="form-icon"></i> 
                    A$
                </label>
            </span>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    computed: {
        ...mapState(['currency', 'sessionError', 'dataError']),
        isNoError() {
            return Object.keys(this.sessionError).length === 0 && Object.keys(this.dataError).length === 0
        }
    },
    methods: {
        ...mapActions(['getCurrency', 'constructDataForChart']),
        async setCurrency(cur) {
            if (cur === this.currency.code) {
                return
            }
            if (!this.isNoError) {
                return
            }
            await this.getCurrency({ value: cur })
            this.constructDataForChart()
        }, 
    }
}
</script>