<template>
    <div>
        <div class="controlls">
            <div class="controlls__casinos" v-if="casinos.length > 0">
                <div class="form-group">
                    <label class="form-label" for="casino">Casinos:</label>
                    <span v-for="casino in casinos" :key="casino.id">
                        <CasinoRadioButton :casino="casino" :firstCasionId="firstCasionId"/>
                    </span>
                </div>
            </div>
            
            <div class="controlls__slots p-relative">
                <div class="container px-0">
                    <div class="columns">
                        <div class="column col-md-12 col-6 provider_container">
                            <div v-if="netentSlots.length > 0">
                                <img :src="providerimages.netent" alt="Netent" class="my-10 provider_img">
                                <span v-for="slot in netentSlots" :key="slot.id" class="slot">
                                    <SlotRadioButton :casinoSlot="slot" />
                                </span>
                            </div>
                        </div>
                        <div class="column col-md-12 col-6 provider_container">
                            <div v-if="yggdrasilSlots.length > 0">
                                <img :src="providerimages.yggdrasil" alt="Yggdrasil" class="my-10 provider_img">
                                <span v-for="slot in yggdrasilSlots" :key="slot.id" class="slot">
                                    <SlotRadioButton :casinoSlot="slot" />
                                </span>
                            </div>
                        </div>
                        <div class="column col-md-12 col-6 provider_container">
                            <div v-if="redTigerSlots.length > 0">
                                <img :src="providerimages.redtiger" alt="Red Tiger" class="my-10 provider_img">
                                <span v-for="slot in redTigerSlots" :key="slot.id" class="slot">
                                    <SlotRadioButton :casinoSlot="slot" />
                                </span>
                            </div>
                        </div>
                        <div class="column col-md-12 col-6 provider_container">
                            <div v-if="microgamingSlots.length > 0">
                                <img :src="providerimages.microgaming" alt="Microgaming" class="my-10 provider_img">
                                <span v-for="slot in microgamingSlots" :key="slot.id" class="slot">
                                    <SlotRadioButton :casinoSlot="slot" />
                                </span>
                            </div>
                        </div>
                        <!-- <div class="column col-md-12 col-6 provider_container">
                            <div v-if="blueprintSlots.length > 0">
                                <img :src="providerimages.blueprint" alt="Blueprint" class="my-10 provider_img">
                                <span v-for="slot in blueprintSlots" :key="slot.id" class="slot">
                                    <SlotRadioButton :casinoSlot="slot" />
                                </span>
                            </div>
                        </div> -->
                        <!-- <div class="column col-md-12 col-6 provider_container">
                            <div v-if="pushGamingSlots.length > 0">
                                <img :src="providerimages.pushgaming" alt="Push gaming" class="my-10 provider_img">
                                <span v-for="slot in pushGamingSlots" :key="slot.id" class="slot">
                                    <SlotRadioButton :casinoSlot="slot" />
                                </span>
                            </div>
                        </div> -->
                        <div class="column col-md-12 col-6 provider_container">
                            <div v-if="quickSpinSlots.length > 0">
                                <img :src="providerimages.quickspin" alt="Quickspin" class="my-10 provider_img">
                                <span v-for="slot in quickSpinSlots" :key="slot.id" class="slot">
                                    <SlotRadioButton :casinoSlot="slot" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <CurrencyFilter />

        <button class="btn btn-lg filter_chart" @click="filter" :disabled="buttonState">Show</button>

    </div>    
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import CasinoRadioButton from './RadioButtons/CasinoRadioButton.vue'
    import SlotRadioButton from './RadioButtons/SlotRadioButton.vue'
    import CurrencyFilter from './CurrencyFilter.vue'
    import jumper from 'jump.js-cancelable'

    export default {
        data() {
            return {
                timer: null,
                handleDebouncedWheel: null
            }
        },
        components: {
            CasinoRadioButton,
            SlotRadioButton,
            CurrencyFilter
        },
        props: {
            casinos: {
                type: Array,
            },
            slots: {
                type: Array,
            },
            providerimages: {
                type: Object
            },
        },
        watch: {
            pickedCasinoId: function(pickedCasinoId) {
                if (pickedCasinoId && pickedCasinoId !== null) {
                    this.setDisabledSlots(pickedCasinoId) 
                }
            },
            casinoSlots: function(newCasinoSlots, oldCasinoSlots) {
                if (newCasinoSlots !== null && newCasinoSlots.length > 0 ) {
                    const pickedSlotinNewCasino = newCasinoSlots.find( slot => slot === this.pickedSlotId ),
                    sorted = [...newCasinoSlots].sort(function(a, b) { return a - b })
                    let [ firstSlotId ] = sorted

                    if (pickedSlotinNewCasino === undefined) {
                        firstSlotId = null
                    }
                                        
                    this.getPickedSlotId({ value: pickedSlotinNewCasino || this.slotIdfromQuery || firstSlotId})

                }
            }
        },
        computed: {
            ...mapState(['loading', 'casinoSlots', 'slotsLoading', 'pickedSlotId', 'pickedCasinoId', 'querySlotId', 'queryCasinoId']),
            netentSlots() {
                return this.slots.filter( slot => {
                    if (slot.provider === 'Netent' || slot.provider === 'netent') {
                        return slot
                    }
                }) 
            },
            yggdrasilSlots() {
                return this.slots.filter( slot => {
                    if (slot.provider === 'Yggdrasil' || slot.provider === 'yggdrasil') {
                        return slot
                    }
                })
            },
            redTigerSlots() {
                return this.slots.filter( slot => {
                    if (slot.provider === 'RedTiger' || slot.provider === 'Redtiger' || slot.provider === 'redtiger') {
                        return slot
                    }
                })
            },
            microgamingSlots() {
                return  this.slots.filter( slot => {
                    if (slot.provider === 'Microgaming' || slot.provider === 'microgaming') {
                        return slot
                    }
                })
            },
            blueprintSlots() {
                return this.slots.filter( slot => {
                    if (slot.provider === 'Blueprint' || slot.provider === 'blueprint') {
                        return slot
                    }
                })
            },
            pushGamingSlots() {
                return this.slots.filter( slot => {
                    if (slot.provider === 'PushGaming' ||
                        slot.provider === 'pushgaming' ||
                        slot.provider === 'pushGaming'||
                        slot.provider === 'Pushgaming') {
                        return slot
                    }
                })
            },
            quickSpinSlots() {
                return this.slots.filter( slot => {
                    if (slot.provider === 'QuickSpin' ||
                        slot.provider === 'quickSpin' ||
                        slot.provider === 'quickspin'||
                        slot.provider === 'Quickspin') {
                        return slot
                    }
                })
            },
            allCasinoIds() {
                return this.casinos.length > 0 ? this.casinos.map( casino => casino.id ) : null
            },
            buttonState() {
                // check if casino id is set and slot is present in current casino                
                let isCasinoExists = this.casinos.find(casino => casino.id === this.pickedCasinoId)

                if (this.pickedCasinoId !== undefined &&
                    this.pickedCasinoId !== null &&
                    this.pickedSlotId !== undefined &&
                    this.pickedSlotId !== null &&
                    this.casinoSlots.includes( this.pickedSlotId ) !== false &&
                    isCasinoExists !== undefined) {
                        return false  
                } else {
                        return true
                }
                
            },
            jackpotParameters() {
                return {
                    casino_id: this.pickedCasinoId,
                    slot_id: this.pickedSlotId,
                    casino_ids: this.allCasinoIds
                }
            },
            firstCasionId() {
                let { id } = this.casinos[0]
                return id
            },
            slotIdfromQuery() {
                if (this.queryCasinoId !== null &&
                    this.queryCasinoId !== '' &&
                    this.queryCasinoId !== undefined &&
                    this.querySlotId !== null &&
                    this.querySlotId !== '' &&
                    this.querySlotId !== undefined) {
                        //set active slot radio btn active if there is query string
                        return this.querySlotId
                    } else {
                        return null
                    }
            }
        },
        methods: {
            ...mapActions(['getData', 'getPickedSlotId', 'getPickedCasinoId', 'getCasinoSlotsData', 'getJackpotTableData']),
            async filter() {
                await this.getData(this.jackpotParameters)
                await this.getJackpotTableData(this.jackpotParameters)
                this.clearTimer()
                
                this.timer = setTimeout(() => { 
                    jumper.jump('.current_jackpot_header', {
                        duration: 700,
                        offset: -20
                    });
                }, 70)
            },
            setDisabledSlots(id) {
                this.getCasinoSlotsData({ id })  
            },
            clearTimer() {
               if (this.timer !== null) clearTimeout(this.timer);
            }
        },
        created() {
            if (this.pickedCasinoId === null || 
                isNaN(this.pickedCasinoId) || 
                this.pickedCasinoId === undefined || 
                this.pickedCasinoId === '') {
                this.getPickedCasinoId({ value: this.firstCasionId })
            }

            this.setDisabledSlots(this.pickedCasinoId)
        }
    }
</script>
