<template>
    <div id="jackpots_table" class="jackpots_table mt" v-if="this.slotCasinos && this.slotCasinos.length > 0">

        <h3 class="h4">All {{ slotName }} {{ slotName === '' ? 'Jackpots' : 'jackpots' }}</h3>
   
        <div class="jackpots_table__cnt p-relative">
            <transition name="quick-fade2">
                <table class="table table-hover" v-if="tableLoading === false && allCasinoNames.length > 0" key="loaded">   
                    <thead>
                        <tr>
                            <th>Casino</th>
                            <th>Jackpot type</th>
                            <th>Jackpot amount</th>
                            <th>Share</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr v-for="item in jackpots" :key="item.jackpot_id" @click="filter(item.casino_id, item.slot_id)">
                            <td v-if="casinoLogo(item.casino_id)">
                                <div class="table_casino_logo_block d-flex">
                                    <!-- lazy load comes from lazySizes in main.js -->
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" :data-src="casinoLogo(item.casino_id)" :alt="item.name" class="casino_logo casino_logo--table blur-up lazyload mr-2">
                                    <span v-if="item.casino_url">
                                        <a :href="item.casino_url" @click.stop="goToCasino" class="btn btn-sm casino_play_btn--sm">Play</a> 
                                    </span>
                                </div> 
                            </td>
                            <td v-else> 
                                {{ item.name }}
                            </td>
                            <td> {{ item.jackpot_type }} </td>
                            <td> {{ item.amount ? currency.symbol : '' }}&nbsp;{{ item.amount}} </td>
                            <td><ShareButtons :baseUrl="baseUrl" :jackpot="item" /></td>
                        </tr>
                    </tbody>
                </table>
                <div v-else class="loading p-absolute loader" key="loading"></div>
            </transition>
        </div>

    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import jumper from 'jump.js-cancelable'
    import { numberWithCommas } from '../helpers/functions.js'
    import debounce from 'lodash/debounce'
    import { convertCurrency } from '../helpers/functions.js'
    import ShareButtons from './Share/ShareButtons.vue'

    export default {
        components: {
            ShareButtons
        },
        data() {
            return {
                timer: null,
                handleDebouncedWheel: null,
                s: this.symbol
            }
        },
        props: {
            casinos: {
                type: Array,
                required: true,
            },
            slots: {
                type: Array,
                required: true,
            },
            baseUrl: {
                type: String,
                required: true,
            }
        },
        computed: {
            ...mapState(['tableLoading', 'activeSlotsinCasino', 'slotCasinos', 'slotName', 'currency']),
            currentSlot() {
                return this.activeSlotsinCasino.length > 0 && typeof this.activeSlotsinCasino[0].slot_id !== undefined ? this.activeSlotsinCasino[0].slot_id : null
            },
            allCasinoNames() {
                return this.casinos.length > 0 ? this.casinos.map( casino => casino.name ) : []
            },
            allCasinoIds() {
                return this.casinos.length > 0 ? this.casinos.map( casino => casino.id ) : null
            },
            jackpots() {
                if (this.slotCasinos.length <= 0) return []

                let jackpots = []

                this.slotCasinos.forEach( element => {
                    
                    const lastItemInDateAmount = typeof element.date_amount !== undefined && element.date_amount !== null ? element.date_amount.length - 1 : null

                    if (element === undefined && element === null) {
                        return
                    } 

                    if (!element.active) {
                        return
                    }

                    const { url: casinoUrl } = this.casinos.find(casino => casino.id === element.casino_id)

                    jackpots.push({
                        jackpot_id: element.jackpot_id,
                        jackpot_type: element.jackpot_type,
                        casino_id: element.casino_id,
                        name: element.casino_name,
                        slot_id: element.slot_id,
                        slot_name: element.slot_name,
                        casino_url: casinoUrl,
                        amount: typeof lastItemInDateAmount !== undefined && lastItemInDateAmount !== null ? convertCurrency(element.date_amount[lastItemInDateAmount].jack_data.amount, this.currency) : 0
                    })     
                        
                })

                jackpots.sort((a, b) => {
                    return  b.amount - a.amount
                })

                return jackpots.map(jackpot => { 
                    jackpot.amount = numberWithCommas(jackpot.amount) 
                    return jackpot
                })
            }, 
        },
        methods: {
            ...mapActions(['getData', 'getPickedSlotId']),
            async filter(casino_id, slot_id) {
                await this.getData({casino_id: casino_id, slot_id: slot_id, casino_ids: this.allCasinoIds})
                this.getPickedSlotId({value: slot_id})
                this.clearTimer()

                this.timer = setTimeout(() => { 
                    if (this.tableLoading === false) {
                        jumper.jump('.current_jackpot_header', {
                            duration: 650,
                            offset: -20
                        });
                    }
                }, 140)
            },
            casinoLogo(casino_id) {
                if (!casino_id) return null

                const currentCasino = this.casinos.find(casino => casino.id === casino_id);

                if (currentCasino === undefined) return null

                if (currentCasino.image === 'undefined') return null

                if (!currentCasino.image) return null

                if (currentCasino.image.branding === 'undefined') return null

                if (!currentCasino.image.branding) return null

                if (currentCasino.image.branding.logo === 'undefined') return null

                if (!currentCasino.image.branding.logo) return null

                return currentCasino.image.branding.logo.sm
            },
            clearTimer() {
               if (this.timer !== null) clearTimeout(this.timer);
            },
            cancelJumper() {
                if (jumper.isJumping()) {
                    jumper.cancel()
                }
            },
            goToCasino() {
                return false
            }
        },
        created() {
            this.handleDebouncedWheel = debounce(this.cancelJumper, 35)
            window.addEventListener("wheel", this.handleDebouncedWheel, false)
            window.addEventListener("touchstart", this.cancelJumper, false)
        },
        destroyed() {
            window.removeEventListener('wheel', this.handleDebouncedWheel)
            window.removeEventListener('touchstart', this.cancelJumper)
        }
    }
</script>