<template>
    <section class="container grid-xl">
        <div class="columns">
            <div class="column col-12">
                <ChartWrapper  
                    :casinos="casinos" 
                    :slots="slots" 
                    :casinoid="casinoid" 
                    :slotid="slotid" 
                    :baseUrl="baseurl"
                    :providerimages="provider_images" />

                <JackpotsTable :casinos="casinos" :slots="slots" :baseUrl="baseurl" />
            </div>
        </div>
    </section>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    import ChartWrapper from './ChartWrapper.vue'
    import JackpotsTable from './JackpotsTable.vue'

    export default {
        components: {
            ChartWrapper,
            JackpotsTable
        },
        props: {
            casinos: {
                type: Array,
                required: true,
            },
            slots: {
                type: Array,
                required: true,
            },
            no_data_img: {
                type: String,
                default: ''
            },
            provider_images: {
                type: Object
            },
            casinoid: {
                type: Number
            },
            slotid: {
                type: Number
            },
            baseurl: {
                type: String
            }
        }, 
        computed: {
            ...mapState(['querySlotId', 'queryCasinoId']),
            allCasinoIds() {
                return this.casinos.length > 0 ? this.casinos.map( casino => casino.id ) : null
            },
            jackpotParameters() {
                return {
                    casino_id: this.casinoid,
                    slot_id: this.slotid,
                    casino_ids: this.allCasinoIds
                }
            },
        },
        methods: {
            ...mapActions(['getData', 'getJackpotTableData', 'getQueryParam']),
        },
        created() {
            this.getQueryParam()
            const data = {
                        casino_id: this.queryCasinoId,
                        slot_id: this.querySlotId,
                        casino_ids: this.allCasinoIds
                    }
            if (this.queryCasinoId !== null && 
                this.queryCasinoId !== '' && 
                this.queryCasinoId !== undefined &&
                this.querySlotId !== null &&
                this.querySlotId !== '' &&
                this.querySlotId !== undefined) {
                    this.getData(data)
                    this.getJackpotTableData(data)
            } else {
                this.getJackpotTableData({
                    casino_id: this.casinoid,
                    slot_id: this.slotid,
                    casino_ids: this.allCasinoIds
                }) 
                this.getData(this.jackpotParameters)   
            }
            
        },
    }
</script>
