<template>
	<div class="jackpot_share p-relative">
		<button class="btn btn-sm btn-primary btn-action" @click.stop="toggleShareMenu">
            <svg class="icon" v-html="shareIcon"></svg>
        </button>
        <div :class="{ active: menuVisible }" class="jackpot_share__inner">
            <Facebook :baseUrl="baseUrl" :jackpot="jackpot" :currency="currency.code" :class="{ active: menuVisible }" />
            <Twitter  :baseUrl="baseUrl" :jackpot="jackpot" :currency="currency.code" :class="{ active: menuVisible }" />
            <Whatsapp :baseUrl="baseUrl" :jackpot="jackpot" :currency="currency.code" :class="{ active: menuVisible }" />
            <Telegram :baseUrl="baseUrl" :jackpot="jackpot" :currency="currency.code" :class="{ active: menuVisible }" />
            <Tumblr :baseUrl="baseUrl" :jackpot="jackpot" :currency="currency.code" :class="{ active: menuVisible }" /> 
        </div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import Facebook from './Facebook.vue'
import Twitter from './Twitter.vue'
import Telegram from './Telegram.vue'
import Whatsapp from './Whatsapp.vue'
import Tumblr from './Tumblr.vue'

export default {
    data() {
        return {
            menuVisible: false
        }
    },
	components: {
		Facebook,
		Twitter,
        Telegram,
        Whatsapp, 
        Tumblr
	},
	props: {
		baseUrl: {
			type: String,
			required: true,
		},
        jackpot: {
            type: Object,
            required: true,
        }
	},
    computed: {
        ...mapState(['currency']),
        dropdownIcon() {
			return `<use xlink:href="${this.baseUrl}/assets/symbol-defs.svg#dropdown"></use>`
		},
        shareIcon() {
            return `<use xlink:href="${this.baseUrl}/assets/symbol-defs.svg#share"></use>`
        }
    },
    methods: {
        toggleShareMenu() {
            this.closeAllShareMenus()
            this.menuVisible = !this.menuVisible
        },
        globalClose() {
            this.closeAllShareMenus()
        },
        closeAllShareMenus() {
            this.$parent.$children.forEach(child => {
                if (this._uid === child._uid) {
                    return
                }
                child._data.menuVisible = false
            });
        }
    },
    mounted() {
        document.body.addEventListener('click', this.globalClose);
    }
}
</script>
