<template>
	<a href="#" class="share_block__link twitter" aria-label="Share jackpot on twitter" @click.stop.prevent="openModal">
		<svg class="icon" v-html="icon"></svg>
	</a>
</template>

<script>
export default {
	props: {
		baseUrl: {
			type: String,
			required: true,
		},
        jackpot: {
            type: Object,
            required: true
        },
        currency: {
            type: String,
            default: 'EUR'
        }
	},
	computed: {
		icon() {
			return `<use xlink:href="${this.baseUrl}/assets/symbol-defs.svg#twitter"></use>`
		},
        shareUrl() {
            return `https://twitter.com/intent/tweet?text=${this.text}&url=${this.targetUrl}&hashtags=slot, online casino, ${this.jackpot.slot_name}, jackpot`
        },
        targetUrl() {
            return encodeURIComponent(`${this.baseUrl}/jackpots-tracker?casino=${this.jackpot.casino_id}&slot=${this.jackpot.slot_id}`)
        },
        text() {
            return encodeURIComponent(`${this.jackpot.slot_name} ${this.jackpotType} jackpot is currently ${this.jackpot.amount} ${this.currency} in ${this.casinoName}`)
        },
        jackpotType() {
            let { jackpot_type: type } = this.jackpot
            if (type != null) return type.toLowerCase()
            return ''
        },
        casinoName() {
            if (this.jackpot.name.includes('casino') || this.jackpot.name.includes('Casino')) {
                return this.jackpot.name
            } 
            return this.jackpot.name + ' casino'
        } 
	},
	methods: {
		openModal() {
            window.open(this.shareUrl, "pop", "width=600, height=400", "scrollbars=no");
		}
	}
}
</script>

<style>

</style>