<template>
	<a :href="shareUrl" class="share_block__link whatsapp" aria-label="Share jackpot on whatsapp" target="_blank" @click.stop="() => {}">
		<svg class="icon" v-html="icon"></svg>
	</a>
</template>

<script>
export default {
	props: {
		baseUrl: {
			type: String,
			required: true,
		},
        jackpot: {
            type: Object,
            required: true
        },
        currency: {
            type: String,
            default: 'EUR'
        }
	},
	computed: {
		icon() {
			return `<use xlink:href="${this.baseUrl}/assets/symbol-defs.svg#whatsapp"></use>`
		},
        shareUrl() {
            return `https://api.whatsapp.com/send?text=${this.text}%20${this.targetUrl}`
        },
        targetUrl() {
            return encodeURIComponent(`${this.baseUrl}/jackpots-tracker?casino=${this.jackpot.casino_id}&slot=${this.jackpot.slot_id}`)
        },
        text() {
            return `${this.jackpot.slot_name} ${this.jackpotType} jackpot is currently ${this.jackpot.amount} ${this.currency} in ${this.casinoName}`
        },
        jackpotType() {
            let { jackpot_type: type } = this.jackpot
            if (type != null) return type.toLowerCase()
            return ''
        },
        casinoName() {
            if (this.jackpot.name.includes('casino') || this.jackpot.name.includes('Casino')) {
                return this.jackpot.name
            } 
            return this.jackpot.name + ' casino'
        } 
	}
}
</script>

<style>

</style>